{% extends 'url_tester/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <header>
        {% include 'url_tester/includes/page_title.html' with title='Create new project' %}
    </header>

    <div class="row">

        <div class="col-lg-12 mx-auto text-center">
            <form action="" method="post">
                {% csrf_token %} {{ form|crispy }}
                <br/><br/>
                <button type="submit" class="btn btn-primary">Create</button>
                <button onclick="window.history.back();" class="btn btn-secondary">Cancel</button>
            </form>
        </div>

    </div>



{% endblock %}