{% extends 'url_tester/base.html' %}
{% block content %}

    <h1 class="text-center"><span class="badge badge-info">HOME</span></h1> <br/><br/>
    <hr class="primary"><br><br>

    <div class="flex-row">
        {% for prj in projects %}
            <a class="flex-card" style="background-color: {{ prj.color }}" href="{% url 'sessions_list' proj=prj.slug category='all' %}">
                <div class=""><p>{{ prj }}</p></div>
            </a>
        {% endfor %}
        <a class="flex-card-inactive" href="{% url 'project_create'%}">
            <div class=""><i class="fas fa-plus"></i></div>
        </a>
    </div>




{% endblock %}