{% extends 'url_tester/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <header>
        {% include 'url_tester/includes/page_title.html' with title='Load Sitemap' %}
    </header>


    <div class="row">
        <div class="col-12 mx-auto ">
            <form action="" method="post">
                {% csrf_token %} {{ form|crispy }} <br/>
                <button type="submit" class="btn btn-primary">Upload</button>
                <button onclick="window.history.back();" class="btn btn-secondary">Cancel</button>
            </form>
        </div>
    </div>

{% endblock %}