{% extends 'url_tester/base.html' %}
{% load custom_tags %}
{% block content %}

    <h1 class="page-title-m text-center"><span class="badge badge-warning">{{ session.project }}</span></h1>
    <h2 class="text-center"><span class="badge badge-info">SESSION: {{ session.title }}</span>
        <small><span class="badge badge-danger"> {{ session.category }}</span></small>
    </h2>
    <br/><br/><br/><br/>
    <hr class="primary"><br/><br/>

    <div class="card">
        <div class="card-header">
            {{ session.date }}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ session.description }}</p>
                <hr class="primary">
                {% if total_urls %}
                    <button type="button" class="btn btn-default">total <span
                            class="badge badge-info">{{ total_urls }}</span></button>{% endif %}
                {% if total_200 %}
                    <button type="button" class="btn btn-default">200 <span
                            class="badge badge-success">{{ total_200 }}</span></button>{% endif %}
                {% if total_301 %}
                    <button type="button" class="btn btn-default">301 <span
                            class="badge badge-warning">{{ total_301 }}</span></button>{% endif %}
                {% if total_302 %}
                    <button type="button" class="btn btn-default">302 <span
                            class="badge badge-warning">{{ total_302 }}</span></button>{% endif %}
                {% if total_404 %}
                    <button type="button" class="btn btn-default">404 <span
                            class="badge badge-danger">{{ total_404 }}</span></button>{% endif %}
                {% if total_500 %}
                    <button type="button" class="btn btn-default">500 <span
                            class="badge badge-danger">{{ total_500 }}</span></button>{% endif %}
                <footer>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success"
                             role="progressbar"
                             style="width: {{ session.progress_bar_count }}%"
                             aria-valuenow="{{ session.progress_bar_count }}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </footer>
            </blockquote>
        </div>
    </div>


    <hr class="primary">


    <div class="btn-group btn-group-lg" role="group">
        <a href="{% url 'sessions_list' proj=session.project.slug category=session.category.slug %}"
           class="btn btn-secondary"><i
                class="fas fa-home"
                aria-hidden="true"></i> Home</a>
        <a id='load' data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom"
           data-content="Load a sitemap"
           href="{% url 'session_load' proj=session.project.slug session=session.slug %}" class="btn btn-secondary"><i
                class="fas fa-upload"
                aria-hidden="true"></i>
            Load</a>
        <a id='runtest' data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom"
           data-content="Tests will run in the background and it may take some time to complete all of them. Please
                    check the progress bar."
           href="{% url 'session_run' proj=session.project.slug session=session.slug %}"
           class="btn btn-secondary {% if not session.urls.all %} disabled {% endif %}"><i
                class="fas fa-bolt"></i> Tests</a>

    </div>

    <br><br>

    <div class="list-group">
        {% for url in session.urls.all %}
            <a href="{{ url.link }}" target="_blank"
               class="list-group-item list-group-item-action list-group-item-{% status_color_code url.code %}">{{ url.link }}
                {% if url.code %}
                    <span class="badge badge-secondary float-right">{{ url.code }}</span> {% endif %}
            </a>

        {% endfor %}

    </div>

{% endblock %}