{% extends 'url_tester/base.html' %}
{% load custom_tags %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ session.title }}</h1>
            <p class="lead">{{ session.description }}</p>
            <p class="small">{{ session.date }}</p>
        </div>
    </div>

    <hr class="primary">

    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'sessions_list' %}" class="btn btn-secondary"><i class="fas fa-home"
                                                                         aria-hidden="true"></i> Home</a>
        <a href="{% url 'session_load' pk=session.pk %}" class="btn btn-secondary"><i class="fas fa-upload"
                                                                                      aria-hidden="true"></i>
            Load Sitemap</a>
        <a href="{% url 'session_run' pk=session.pk %}" class="btn btn-secondary">Run tests</a>
    </div>

    <br><br>

    <div class="list-group">
        {% for url in session.urls.all %}
            <a href="{{ url.link }}" target="_blank"
               class="list-group-item list-group-item-action list-group-item-{% status_color_code url.code %}">{{ url.link }}
                {% if url.code %}
                    <span class="badge badge-secondary">{{ url.code }}</span> {% endif %}
            </a>

        {% endfor %}

    </div>

{% endblock %}