{% extends 'url_tester/base.html' %}
{% block content %}


    <h1 class="text-center"><span class="badge badge-info">{{ project }}</span></h1> <br/><br/>
    <hr class="primary">


    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link text-secondary"
               href="{% url 'home' %}"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if page == 'all' %}active{% else %}text-secondary{% endif %}"
               href="{% url 'sessions_list' proj=project.slug category='all' %}">ALL</a>
        </li>
        {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link {% if page == category.slug %}active{% else %}text-secondary{% endif %}"
                   href="{% url 'sessions_list' proj=project.slug category=category.slug %}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr class="primary"><br>

    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12 mx-auto text-center">
            <h1><a href="{% url 'session_create' proj=project.slug %}"> <i class="fas fa-plus text-secondary"></i></a>
            </h1>
        </div>
    </div>
    <br>

    {% for session in sessions %}
        <div class="card mb-3 text-center">
            <div class="card-body">
                <h5 class="card-title">{{ session.title }} <span
                        class="badge badge-danger">{{ session.category }}</span></h5>
                <p class="card-text">{{ session.description }}</p>
                <a href="{{ session.get_absolute_url }}" class="btn btn-primary">Open</a><br>
                <hr class="primary">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success"
                         role="progressbar"
                         style="width: {{ session.progress_bar_count }}%"
                         aria-valuenow="{{ session.progress_bar_count }}"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <small class="float-left">{{ session.date }}</small>
                <span class="float-right"><a href="{% url 'session_delete' proj=project.slug session=session.slug %}"
                                             class="cardbtn-item"><i
                        class="fa fa-trash"></i></a></span>
                <br>
            </div>
        </div>
    {% endfor %}

{% endblock %}